# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid

# Build output
dist/
build/

# Uploads (không lưu ảnh lên git)
public/uploads/*
!public/uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
